:root {
    --dark: #282c34;
    --light: #f8f8f2;
    --red: #da6672;
    --blue: #4e94c6;
    --purple: #b278dd;
    --orange: #d19a66;
    --green: #69b779;
}

#activities {
    height: 100vh;
    background: var(--dark);
}