:root {
    --dark: #282c34;
    --light: #f8f8f2;
    --red: #da6672;
    --blue: #4e94c6;
    --purple: #b278dd;
    --orange: #d19a66;
    --green: #69b779;
}

.sidebar-container {
    position: fixed;
    width: 50px;
    height: 100vh;
    justify-content: center;
    left: 0.5vw;
}

.sidebar-content {
    position: relative;
    padding-top: Calc(100vh / 12);
}

.sidebar {
    background-color: var(--dark);
    border-right: 2px solid var(--light);
    position: relative;
    height: 100vh;
    padding-top: auto;
    padding-bottom: auto;
}

.sidebar-content:hover {
    border-right: 2px solid var(--light);
}

.icon {
    border: 1px solid transparent;
    border-radius: 50%;
    color: var(--light);
}

.icon-menu {
    color: var(--light);
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 3.5px;
}

.icon-active {
    background-color: #fff;
    color: #343a40;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 3.5px;
}